{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "globals": {
    "FCC": "readonly",
    "JSX": true,
    "React": true,
    "ReactDOM": true,
    "__DEV__": true,
    "context": true,
    "expect": true,
    "google": true,
    "jsdom": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "ValueOf": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "unused-imports",
    "simple-import-sort",
    "sort-keys-fix",
    "typescript-sort-keys"
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "rules": {
    "no-void": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "arrow-body-style": "off",
    "global-require": "off",
    "import/extensions": "off",
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-console": "warn",
    "no-param-reassign": "off",
    "no-restricted-exports": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-use-before-define": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react/no-array-index-key": "off",
    "consistent-return": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": true,
        "shorthandFirst": true,
        "shorthandLast": false
      }
    ],
    "camelcase": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/exports": "error",
    "sort-keys-fix/sort-keys-fix": "warn",
    "testing-library/no-node-access": "off",
    "testing-library/render-result-naming-convention": "off",
    "typescript-sort-keys/interface": "warn",
    "typescript-sort-keys/string-enum": "warn",
    "unused-imports/no-unused-imports": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "alias": true,
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss", ".native.js"]
      },
      "typescript": {}
    }
  },
  "ignorePatterns": ["webpack.config.js", "node_modules/**/*", "dist/**/*"]
}
